:root{
    --fastTrans: all .9s ease;
    --mediumTrans: all 1s ease;
    --slowTrans: all 2s linear;
   --shadow-1: 2px 5px 12px rgba(216, 216, 216, 0.5);
   --shadow-2: 2px 3px 9px rgba(235, 232, 232, 0.5);

}
body{
    margin: 0;
    padding: 0;
    background: #f1f1f9;
    overflow-x: hidden;
}

/* nav */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--mediumTrans);
    margin-left: 20px;
    margin-right:20px;
}

.logo{
    font-size: 27px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.pages-container ul{
   display: flex;
   align-items: center;
}
.pages{
    margin-left: 6px;
    list-style: none;
}
.pages a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #1f1f1f;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fixed-nav{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow:var(--shadow-1);
    margin: 0;
    padding:0px 20px;
    display: flex;
    justify-content: space-between;
    transition: var(--mediumTrans);
    overflow-x: hidden;
    z-index: 30;
    /* opacity: 0.9; */
}
.bar-container{
    display: none;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 1px 5px 5px 5px;
}
.bar{
    width: 25px;
    height: calc(2px + 1px);
    border-radius: 50px;
    background-color: #181717;
    margin-top: 4px;
}


.sm-one{
    transform: rotate(45deg)  translateX(6px);
    background-color: rgb(176, 9, 9);
}
.sm-three{
    transform: rotate(-45deg) translateX(6px);
    background-color: rgb(176, 9, 9);
}
.sm-pages-container{
    transform: translate(-100%);
    background-color: white;
    transition: var(--mediumTrans);
    box-shadow:var(--shadow-1);
    position: fixed;
    inset: 0% 3% 0 0 ;
    padding: 20px;
    display: none;
    padding: 0px 30px 0px;
    z-index: 50;
}
.show-nav{
    transform: translate(0%);
    transition: var(--mediumTrans);
}
.sm-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sm-pages{
    margin-top: 10px;
}
.sm-pages a{
    margin-bottom: 15px;
}
a:hover{
    color: brown;
    transition: var(--mediumTrans);
}

/* end  of nav */

/* About styles begins here */
.about-label{
   display: flex;
   justify-content: center;
}
.about-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: rgb(45, 44, 44);
    letter-spacing: .6px;
}
.underline{
    width: 150px;
    height: 3px;
    background-color: brown;
    margin-top: -15px;
}
.about-review,.tabs-content h2{
    margin: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 30px;
}
.about-image{
    width: 100%;
    border-radius: 4px;
    height: 100%;

}

.about-tab-section{
    display: flex;
    gap: 23px;
    place-content: center;
    justify-content: center;
    padding:25px;
    margin-top: 70px;
    border-radius: 10px;
}

.auth-btn,.search-btn,.search-btn:hover{
    text-decoration: none;
    color: aliceblue;
    background-color: #181717;
    padding: 9px 19px;
    letter-spacing: .5px;
    font-weight: 600;
    border-radius: 4px;
    transition: var(--mediumTrans);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.auth-btn:hover,.search-btn{
    border: 1px solid #131313;
    color: #131313;
    background-color: transparent;
}
.search-btn{
    font-size: 15px;
    padding: 9px 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.tabs-content{
    margin-top: 30px;
}
.tabs-content h2{
    margin: 0%;
    text-align: left;
    line-height: 24px;
    font-size: 15px;
    color: rgb(52, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
.about-tab-btn-container button{
    background: none;
    border: none;
    color: rgb(45, 44, 44);
    font-size: 16px;
    letter-spacing: .7px;
    font-weight: 700;
    cursor: pointer;
}
.about-tab-container{
    z-index: 0;
    margin: 30px;
}

.about-gallery-label{
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #1f1f1f;
}
.slider-container{
    width: 60%;
    height: 400px;
    /* border: 1px solid gray; */
    /* display: flex; */
    margin-bottom: 30px;
    position: relative;
}
.slide-image{
    position: absolute;
}
.slider-btn button{
    position: absolute;
    top: 50%;
}
.slider-btn .prev{
    left: 0;  
}
.slider-btn .next{
    right: 0;  
}


.about-faqs-label{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1f1f1f;
    letter-spacing: 1px;
}
.about-faqs-container{
    width: 65%;
}
.about-faqs{
    margin-top: 14px;
    /* border: 1px solid #1f1f1f; */

}
.about-faqs p,.about-faqs h2{
    border: 1px solid #1f1f1f;
    padding: 10px;
}
.answer{
    margin-top: -17px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 22px;
    color: rgb(34, 34, 34);
    display: none;
    letter-spacing: .5px;
}

.about-faqs h2{
    line-height: 24px;
    font-size: 15px;
    color: rgb(241, 249, 255);
    letter-spacing: .4px;
    font-weight: 700;
    background: #131313;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

footer{
    background-color: #131313;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    color: aliceblue;
    font-family: arial,Helvetica;
    font-weight: 700;
    margin-top: -5px;
}

/* responsiveness */
@media (max-width:800px) {
    .pages-container{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
    .bar-container{
        display: block;
    }
    .sm-pages-container{
        display: block;
    }
    .about-tab-section{
        display: block;
    }
    .slider-container{
        width: 90%;
        height: 300px;
    }
    .about-tab-container{
        margin: 10px;
    }
    .tabs-content h2{
        font-size: 13px;
    }
    .about-faqs-label{
        font-size: 22px;
        letter-spacing: .5px;
    }
    .about-faqs-container{
        width: 94%;
    }
    .about-faqs h2{
        font-size: 12px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       letter-spacing: -.5px;
    }
    .about-faqs p{
        font-size: 11px;
    }
 
}

.show-answers{
    display: block;
}